<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Spring MVC</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p th:if="${product != null}">
        <p th:text="${product.name}"></p>
        <ul>
            <li th:each="detail : ${product.productDetails}">
                <span th:text="${detail.feature.name}"></span> : <span th:text="${detail.value}"></span>
            </li>
        </ul>
    </p>
</body>
</html>
